body{
    line-height:2;
}
.main-img{
    width: 50%;
    left: 23rem;
    top: 2rem;
    position: relative;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
}
/* fixed styles */
a{
    text-decoration: none;
}
p{
    font-size: 20px;
}
.main-headings{
    font-weight: bolder;
    font-size: 4.5em;
    /* font-family: 'Montserrat', sans-serif; */
}
.section-headings{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
/* padding fixed for all sections */
section{
    padding: 5% 12%;
}

/* navigation bar */
#navbar{
    /* font-family: 'Montserrat', sans-serif; */
    padding: 0%;
}
.navbar{
    background-color: rgba(208, 36, 32);
}
.navbar img{
    width: 6rem;
    border-radius: 100%;
    box-shadow: 1px 0px 5px 2px #888888;
}
.nav-link{
    font-weight: 700;
}
.dropdown-item{
    padding: 8px;
}
.nav-link .btn{
    background-color: #5A4BDA;
    color: white;
    font-weight: 700;
    padding:10px;
    border-radius: 12px;
}
.navbar-nav .nav-link.active{
    color:white
}

/* welcome section */
#welcome{
    height: 100vh;
    background-color: rgba(208, 36, 32);
    padding-bottom: 0%;
}
#welcome img{
    width: 100%;
    float: right;
    border-radius: 5px 90px 5px;
}

/* about-dmd */
#about-dmd, #achievement{
    background-color: #fbf8f3;
}
#about-dmd img{
    width: 70%;
    box-shadow: 1px 0px 6px 2px #888888;
    border-radius: 72% 28% 81% 19% ;
}
/* about-us */
#about-us{
    color: rgb(0, 0, 0);
    background-color: #EFEFEF;
}

/* care */
.card .card-body .card-title{
    font-size:25px;
}
.card .card-body .card-text{
    font-size: 20px;
}
.card .card-body .btn{
    background-color: rgba(208, 36, 32);
    color:white;
}
/* achievement */
.carousel-inner{
    padding:5% 12%;
}
/* fixed for achievement image */
.achievement-img{
    border-radius: 100% ;
    width: 60%; 
    margin:auto;
}

/* footer */
#footer{
    background-color: #070707;
    text-align: center;
        /* position: fixed;  */
        /* bottom: 0;
        left: 0;
        right: 0; */
}
.footer-social{
    font-size: x-large;
    color: rgb(255, 255, 255);
    padding: 6px;
}
#footer img{
    width: 8rem;
    border-radius: 100%;
    box-shadow: 1px 0px 5px 2px #888888;
}

/* for mobile */
@media screen and (max-width:1000px) {
    #welcome img{
        width: 100%;
    }
    #about-dmd img{
        width: 100%;
        margin-bottom: 2em;
    }
    .carousel-inner{
        text-align: center;
    }
    .main-img{
        width: 100%;
        left: 0rem;
        top: 18rem;
    }
    .navbar-nav .nav-link.active{
        color:black;
    }    
    .main-headings{
        font-weight: bolder;
        font-size: 2.5em;
        /* font-family: 'Montserrat', sans-serif; */
    }
    .section-headings{
        font-weight: bold;
        font-size: 2rem;
    }
    .main-video iframe{
        width: 100%;
    }
    .unplanned-img{
        display:none;
    }
    .carrier-img{
        display: none;
    }
    .carrier-bg{
        display: none;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* physiotherapy page */
#welcome-phy{
    background-color: #faefdc;
}
#hydrotherapy{
    background-color: #EFEFEF;
}
.main-hydro .main-headings{
    color: rgba(208, 36, 32);
}
.main-video iframe{
    width: 100%;
    height: 20rem;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Education page */
.main-cbse{
    background-color: #faefdc;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: inherit;
}

/* --------------------------------------------------------------------------------------------------------------------------------- */
/* informing your son */
#welcome-inform{
    background-color: #faefdc;
    /* background-image: linear-gradient(to left top, rgb(255, 152, 150),  #e49a8d); */
}

/* --------------------------------------------------------------------------------------------------------------- */
/* depression */
.depression-img{
    background-image: url("./Assets/background/img-16.jpg");
    background-size: cover;
    height: 100vh;
}

/* --------------------------------------------------------------------------------------------------- */
.homeremedies-1{
    width: 100%;
}
#homeremedies-content-1{
    background-color: #fff4f4;
}
/* unplanned journey */
.unplanned-img{
    background-image: url("./Assets/background/img-24.jpg");
    background-size: cover;
    height: 100vh;
}

/* ----------------------------------------------------------- */
/* carrier */
.carrier-bg{
    background-image: url("./Assets/background/img-30.jpg");
     background-size: cover;
    height: 67vh
}